<thead>
	<tr>
		<th>NAME</th>
		<th>DOD</th>
		<th>10th Persentage</th>
		<th>ROLL NUMBER</th>
		<th>12th Persentage</th>
		<th>How many year pass 10th and 12th</th>
	</tr>
	<tr>
		<td>Archu</td>
		<td>15/7/2000</td>
		<td>80%</td>
		<td>7654898105</td>
		<td>75%</td>
		<td>2017/2018</td>
	</tr>
	<tr>
		
	</tr>
</thead>